<div>
  <span class="btn btn-success fileinput-button">
      <i class="icon-plus icon-white"></i>
      <span>Add STL files or Images</span>
      <!-- The file input field used as target for the file upload widget -->
      <input id="fileupload" type="file" name="files[]" multiple>
  </span>
  <br>
  <br>
  <!-- The global progress bar -->
  <div id="progress" class="progress progress-success progress-striped">
      <div class="bar"></div>
  </div>
  <!-- The container for the uploaded files -->
  <div id="files" class="files"></div>
</div>
