<div id="rfpform-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form class="form-horizontal well" data-async data-target="#rfpform-modal" action="{% raw request.uri %}" method="POST">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create an RFP</h3>
  </div>

  <div class="modal-body" id="rfp_form">

      <fieldset class="collapsible">
        <legend >Step 1: Upload a File </legend>
        {% module FileUploadModule() %}
      </fieldset>

      <fieldset class="collapsible ">
        <legend>Step 2: Contact Information</legend>
        <div class="control-group">
          {% raw form.email.label(class_="control-label") %} 
          <div class="controls">
            {% raw form.email(placeholder=form.email.label.text) %}
          </div>
        </div>
        <div class="control-group">
          {% raw form.firstname.label(class_="control-label") %} 
          <div class="controls">
            {% raw form.firstname(placeholder=form.firstname.label.text) %}
          </div>
        </div>
        <div class="control-group">
          {% raw form.lastname.label(class_="control-label") %} 
          <div class="controls">
           {% raw form.lastname(placeholder=form.lastname.label.text) %}
          </div>
        </div>
      </fieldset>
      <fieldset class="collapsible">
        <legend>Step 3: Delivery Information</legend>
        <div class="control-group">
          <label class="control-label" for="street1">Address</label>
          <div class="controls">
            {% raw form.street1(placeholder=form.street1.label.text) %}
            {% raw form.street2(placeholder=form.street2.label.text) %}
          </div>
        </div>
        <div class="control-group">
          {% raw form.city.label(class_="control-label") %} 
          <div class="controls">
            {% raw form.city(placeholder=form.city.label.text) %}
          </div>
        </div>
        <div class="control-group">
          {% raw form.state.label(class_="control-label") %} 
          <div class="controls">
            {% raw form.state(placeholder=form.state.label.text) %}
          </div>
        </div>
        <div class="control-group">
          {% raw form.postal_code.label(class_="control-label") %} 
          <div class="controls">
            {% raw form.postal_code(placeholder=form.postal_code.label.text) %}
          </div>
        </div>
        <div class="control-group">
          {% raw form.country.label(class_="control-label") %} 
          <div class="controls">
            {% raw form.country() %}
          </div>
        </div>
      </fieldset>

  </div>
 
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input type="submit" class="btn btn-primary" name="Submit RFP">
  </div>
    </form>
</div>
