{% extends 'base.html' %}
{% block title %} | Home{% end %}

{% block jumbotron %}
<header class="jumbotron masthead" id="home">
  <div class="container">
    <h1>3DRFP.com</h1>
    <p>Submit Your Designs and Build Your Dreams</p>
    {% if not current_user %}
    <p>
      <a class="btn btn-primary btn-large" href="/register?buyer">Register as Buyer</a>
    </p>
    <p>
      <a class="btn btn-primary btn-large" href="/register?builder">Register as Builder</a>
    </p>
    {% else %}
    <p>
      <a class="btn btn-primary btn-large" href="/rfp/create">Create an RFP</a>
    </p>
    <p>
      <a class="btn btn-primary btn-large" href="/rfp/browse">Browse RFPs</a>
    </p>
    <p>
    {% end %}
    </p>
  </div>
</header>
{% end %}

{% block content %}
{% end %}
