{% extends "base.html" %}

{% block title %}
 | {{ _("Login") }}
{% end %}

{% block header %}
{% end %}

{% block content %}
  {% if isinstance(message, str) %}
    <div class="alert alert-error">
      {{ message }}
    </div>
  {% elif isinstance(message, dict) %}
    <div class="alert alert-error">
      <ul>
      {% for k, v in message.iteritems() %}
        <li>{{ _(v[0]) }}</li>
      {% end %}
      </ul>
    </div>
  {% end %}
  <div class="row-fluid">
    <div class="span8">
      <form class="form-horizontal" action="/login" method="post">
        <fieldset>
          <legend>{{ _("Login") }}</legend>
          <div class="control-group">
            {% raw form.email.label(class_="control-label") %}
            <div class="controls">
              {% raw form.email(placeholder=form.email.label.text) %}
            </div>
          </div>
          <div class="control-group">
            {% raw form.password.label(class_="control-label") %}
            <div class="controls">
              {% raw form.password(placeholder=form.password.label.text) %}
            </div>
          </div>
          <input type="hidden" name="_next" value="{{ _next }}"></input>
          {% raw xsrf_form_html() %}
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">
                <i class="icon-lock"></i>
                {{ _("Login") }}
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% end %}
{% block footer %}
{% end %}

