{% extends 'base.html' %}
{% block title %}Register as a Builder{% end %}
{% block jumbotron %}
<div class="jumbotron subhead">
  <div class="container">
    <h1>Sign Up as a Maker </h1>
    <p>Put your 3D printer to work for you by signing up as a Builder at 3DRFP.com </p>
  </div>
</div>
{% end %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <h2>Register as a Builder</h1>
      <form class="form-horizontal well" action="{% raw request.uri %}" method="POST">
        <fieldset>

          <legend>{% raw form.contact.label.text %}</legend>
          {% module ContactFormModule (form.contact) %}

          <legend>{% raw form.billing_details.label.text %}</legend>
          {% module BillingDetailsFormModule (form.billing_details) %}

          <legend>{% raw form.address.label.text %}</legend>
          {% module AddressFormModule( form.address ) %}

          <button type="submit" class="btn">Register</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% end %}


